.social-btn {
  opacity: .5;
  width: calc(50% - 4px);
}

.social-btn:hover {
  opacity: 1;
}

.FormUser {
  width: 95%;
  margin: 0% auto;
}

.signup-btn {
  opacity: 0.7;
}

.signup-btn:hover {
  opacity: 1;
}

.mainPage {
  text-align: left;
  margin-bottom: 15%;
}

.logo {
  max-width: 13%;
}

.mainPageHr {
  color: white;
  background-color: white;
  max-width: 20%;
}


.card {
  margin-top: 10px;
  margin: 0 auto;
  transition: all .2s ease-in-out;
}

.card:hover {
  margin-top: 10px;
  margin: 0 auto;
  transform: scale(1.03);
}

.header {
  position: relative;
}

.question:hover {
  color: gray;
}